/*Sprite Selection*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #4d8ad5, #89b1e1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 20px;
    color: #b8c941;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px #151515;
    letter-spacing: 1px;
}

.scene-wrapper {
  position: relative;
  display: inline-block; /* Let size follow background */
  border: 4px solid #ffffff;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#scene {
  display: block;
  width: auto;
  height: auto;
  max-width: 110vh;
  /*max-height: 80vh:*/
  border-radius: 12px;
}

/* Character Image Styling */
.character {
    position: absolute;
    width: 80px; /* Base size, tweak if needed 8%*/
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* Hover effect */
.character:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.9));
}

.character.locked {
  opacity: 0.4;
  pointer-events: none;
  filter: grayscale(100%);
}

.hare {
  width: 350px;
  height: auto;
}

.tortoise {
  width: 280px;
  height: auto;
}

.bear {
  width: 145px;
  height: auto;
}

.squirrel {
  width: 85px;
  height: auto;
}

.bird1 {
  width: 45px;
  height: auto;
}

.bird2 {
  width: 60px;
  height: auto;
}

/* Positioning characters over background y,x bird1 = little bird*/
.hare     { top: 423px; left: 90px; }
.tortoise { top: 466px; left: 510px; }
.bear     { top: 156px; left: 505px; }
.squirrel { top: 260px; left: 640px; }
.bird1    { top: 142px; left: 337px; } 
.bird2    { top: 147px;  left: 385px; }
